
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    border:  0;
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

html, body {
    width:            100%;
    height:           100%;
    background-color: cornsilk;
    font-family:      'Poppins', sans-serif;
}

header {
    width:   100%;
    height:  auto;
    padding: 20px 0 10px 0;
    background-color: rgb(148,0,0);
}

#logo {
    margin:    0 auto;
    max-width: 300px;
}

img {
    width:          100%;
    max-width:      100%;
    height:         auto;
    vertical-align: middle;
}

main {
    margin:    auto;
    width:     100%;
    max-width: 1300px;
    height:    auto;
    margin:    0 auto;
    padding:   15px;
}

#pizzas {
    width:           100%;
    height:          auto;
    display:         flex;
    flex-wrap:       wrap;
    justify-content: space-evenly;
    gap:             15px;
}

.pizza {
    border-radius:    8px;
    width:            32%;
    padding:          3%;
    min-width:        300px;
    cursor:           pointer;
    transition:       .2s;
    border:           1px solid #979797;
}

.pizza:hover {
    border:           1px solid black;
    background-color: #D3A27F;
    transform:        scale(1.05);
    transition:       .2s;
}

.nome {
    font-size:   20pt;
    font-weight: 700;
}

.preco {
    font-size:   20pt;
    font-weight: 400;
}

